[submodule "libs/enet"]
	path = libs/enet
	url = https://github.com/lsalzman/enet
[submodule "libs/jansson/repo"]
	path = libs/jansson/repo
	url = https://github.com/akheron/jansson.git
	branch = master
