.vs
out
build
CMakeSettings.json
/enet
/cmake/sdl2
/cmake/sdl2-image
/cmake/sdl2-mixer
/cmake/sdl2-ttf
*.vcxproj.user
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
*.a
cmake_install.cmake
/libs/libsmacker/smk2avi
/libs/libsmacker/driver
gamefiles/*
!gamefiles/*.md
.vscode
!.vscode/extensions.json
.DS_Store